.wrapper{
    display: flex;
  }
  .wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #915EFF;
    font-size: 60px;
    font-weight: 900;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #020a14;
    /* border-left: 2px solid #915EFF; */
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
      background-color: transparent;
    }
    100%{
        background-color: transparent;
      left: 0;
    }
  }
/* Responsive Styles */

@media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .wrapper .static-txt {
      font-size: 30px;
    }
  
    .wrapper .dynamic-txts {
      margin-left: 0;
      margin-top: 15px;
      height: auto;
      line-height: normal;
      overflow: visible;
    }
  
    .dynamic-txts li {
        /* animation: slide 10s steps(12) infinite;
        animation: typing 10s steps(12) infinite; */
      font-size: 20px;
      animation: none;
    }
  
    .dynamic-txts li span {
      line-height: normal;
    }
    @keyframes slide {
        100%{
          top: -360px;
        }
      }
    
  }
  
  
  
  
  
  
  
  