@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* colors */
.bg-deep-space {
  background-color: #0a0a0f;
}

.second-bg-color {
  background-color: #11111a;
}

.text-primary {
  color: #ffffff;
}

.text-secondary {
  color: #fdb827;
}


.button-bg {
  background-color: #fdb827;
}

.menu-button{
color: aliceblue;
}
.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 4s ease infinite;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}